<% layout('layouts/boilerplate') -%>
<h1>Account</h1>
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title"><%= account.description %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= account.type %></h6>
    <p class="card-text">$ <%= account.amount %> </p>
      <a class="card-link btn btn-primary" href="/accounts/<%= account._id%>/edit">Edit</a>
      <form class="d-inline" action="/accounts/<%=account._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
      </form>
      <a class="card-link btn btn-info" href="/accounts">All Accounts</a>
  </div>
</div>
