<% layout('layouts/boilerplate') -%>
<h1>Transaction</h1>
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title"><%= transaction.description %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= transaction.type %></h6>
    <p class="card-text">$ <%= transaction.amount %> </p>
      <a class="card-link btn btn-primary" href="/transactions/<%= transaction._id%>/edit">Edit</a>
      <form class="d-inline" action="/transaction/<%=transaction._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
      </form>
      <a class="card-link btn btn-info" href="/transactions">All Transactions</a>
  </div>
</div>
